body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074D9;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.header-iframe {
    width: 100%;
    border: none;
    margin: 0; 
    padding: 0; 
}
