body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  height: 50px;
}

iframe {
  height: 100%;
  width: 100%;
}

main {
  margin: 2%;
}

.player-list {
  list-style: none;
  padding: 0;
  width: 92%;
  margin-left: 2%;
}

.player-list li {
  margin-bottom: 10px;
}

.player-list input[type="text"] {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .player-list li {
    margin-bottom: 5px;
  }

  .player-list input[type="text"] {
    padding: 8px;
    font-size: 14px;
  }
}

.add-del-player-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.add-del-player-btn button {
  background-color: #0056b3;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
}

.add-del-player-btn button:hover {
  background-color: #004080;
}

.players-per-shift {
  margin-top: 20px;
  text-align: center;
}

.players-per-shift label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px; /* Fügt einen Abstand zwischen dem Label und den Schaltflächen hinzu */
}

.players-per-shift input[type="number"] {
  width: 60px; /* Verringert die Breite des Eingabefelds */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Berücksichtige das Padding in der Gesamtbreite */
}

.players-per-shift-button {
  background-color: #fff;
  color: #000000;
  padding: 6px 16px; 
  border: 1px solid #000000; 
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.selected {
  background-color: #0074D9;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}
