body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  height: 50px;
}

iframe {
  height: 100%;
  width: 100%;
}

main {
    margin: 2%;
}

.player-list {
    list-style: none;
    padding: 0;
    width: 92%;
  }
  
  .player-list li {
    margin-bottom: 10px;
  }
  
  .player-list input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  @media screen and (max-width: 768px) {
    .player-list li {
      margin-bottom: 5px;
    }
  
    .player-list input[type="text"] {
      padding: 8px;
      font-size: 14px;
    }
  }
  