body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
}

header {
  height: 50px;
}

iframe {
  height: 100%;
  width: 100%;
}

main {
  margin: 2%;
  max-height: calc(100vh - 100px);
  overflow-y: auto; 
  padding-bottom: 100px;
}

.content {
  text-align: center;
  margin-bottom: 10%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.shifts {
  display: flex;
  flex-direction: column;
}

.shifts div {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
}

.shifts .Shift h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  color: #555;
}

.shifts .Shift p {
  font-size: 14px;
  margin: 2px 0;
}

#nextShiftButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

#nextShiftButton:hover {
  background-color: #0056b3;
}

#backButton {
  display: inline-block;
  background-color: #0074D9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}

#backButton:hover {
  background-color: #0056b3;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
